body{
    margin: 0;
}

.Container {
    /* height: 100%; */
    /* width: 200px; */
    /* position: fixed; */
    min-height: 100vh;
    min-width: 20vw;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #EFEBE7;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;

  }
  
  ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    margin-left: 30px;
  }
  
  li {
    margin-bottom: 25px;
    margin-right: 50px;
  }
  
  a {
    color: black; 
    font-size: 24px; 
    font-family: Oswald; 
    font-weight: 200; 
    word-wrap: break-word;
    text-decoration: none;
  }
  
a:hover {
  color: #9B8E73;
  text-decoration: underline;
}

.image {
  max-width: '50px';
  max-height: '50px'
}