.ManageStudents-Container {
    display: flex;
    justify-content: flex-start;
    /* flex-direction: row;
    flex-wrap: nowrap; */
} 

.conatiner {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
} 
 
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type='text'] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 500px;
  }
  
  .button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #F7B27D;
    border: none;
    cursor: pointer;
    width: 150px;
  }
  
  .button:hover {
    background-color: #ffd5b6;
  }
  
.view-all-button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #B7B9A4;
  border: none;
  cursor: pointer;
  width: 150px;
}

.view-all-button:hover {
  background-color: #9fa186;
}
